<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Horários</h1>
      <p class="text-center lead">Seus dados estão abaixo</p>
      <% if (alunos.length > 0){ %>
      <div class="responsive-table">
        <table class="table my-3" color>
          <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>RA</td>
            <td>Entrada</td>
            <td>Saída</td>
          </tr>
          <% alunos.forEach(aluno => { %>
          <tr>
            <td><%= aluno.id%></td>
            <td><%= aluno.nome%></td>
            <td><%= aluno.ra%></td>
            <td><%= aluno.entrada%></td>
            <td><%= aluno.saida%></td>
          </tr>
          <% }); %>
        </table>
        <hr>
        <form action="/">
          <button class="btn btn-dark">Voltar</button>
        </form>
      </div>
      <% } else { %>
        <hr>
        <p class="text-center lead">Não existem horários dentre os seus dados.</p>
        <hr>
        <form action="/alunos/index">
          <button class="btn btn-dark">Voltar</button>
        </form>
      <% } %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer');%>